<!-- Educacion -->
<div class="card m-2">
  <div class="card-header background" id="educacion">
    <span class="contraste_background">Educacion</span>
    <span *ngIf="estaLogueado()">
      <button
        class="position-absolute top-0 end-0"
        style="background-color: transparent; border-color: transparent"
        data-bs-toggle="modal"
        data-bs-target="#addEducationModal"
      >
        <i class="fas fa-plus contraste_background"></i>
      </button>
    </span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 m-1">
    <div class="col" *ngFor="let educacion of educacionList">
      <div class="card">
        <span *ngIf="estaLogueado()">
          <button
            class="position-absolute top-0 end-80"
            style="background-color: transparent; border-color: transparent"
            data-bs-toggle="modal"
            data-bs-target="#updateEducacionModal"
            (click)="setUpdateEducation(educacion)"
          >
            <i class="far fa-edit" style="color: blue"></i>
          </button>

          <button
            class="position-absolute top-0 end-0"
            style="background-color: transparent; border-color: transparent"
            (click)="onDeleteEducation(educacion)"
          >
            <i class="far fa-trash-alt" style="color: red"></i>
          </button>
        </span>
        <img
          [src]="educacion.img"
          class="card-img-top img_education"
          [alt]="educacion.img_alt"
        />
        <div class="card-body">
          <h5 class="card-title">{{ educacion.school }}</h5>
          <p class="card-text">Titulo: {{ educacion.career }}</p>
          <p class="card-text">Estado: {{ educacion.state }}</p>
          <p class="card-text">
            <small class="text-muted"
              >Periodo: <time>{{ educacion.start }}</time> -
              <time *ngIf="educacion.end != null; else actualidad">{{
                educacion.end
              }}</time></small
            >
            <ng-template #actualidad>actualidad</ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INICIO MODAL -->
<!-- MODAL ADD EDUCACION -->
<div
  class="modal fade"
  id="addEducationModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educacionModal">Agregar Educacion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
          <div class="mb-3">
            <label for="school" class="col-form-label">Institución:</label>
            <input
              type="text"
              class="form-control"
              id="school"
              ngModel
              name="school"
            />

            <label for="career" class="col-form-label">Carrera o curso:</label>
            <input
              type="text"
              class="form-control"
              id="career"
              ngModel
              name="career"
            />
            <label for="state" class="col-form-label">Estado:</label>
            <input
              type="text"
              class="form-control"
              id="state"
              ngModel
              name="state"
            />
            <label for="start" class="col-form-label">Fecha de inicio</label>
            <input
              type="text"
              class="form-control"
              id="start"
              placeholder="Año de ingreso - Solo valor numerico"
              ngModel
              name="start"
            />
            <label for="end" class="col-form-label"
              >Fecha de culminación:</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Si lo deja vacío, se cargara como experiencia actual"
              id="end"
              ngModel
              name="end"
            />
            <label for="img" class="col-form-label">URL de Imagen:</label>
            <input
              type="text"
              class="form-control"
              id="img"
              ngModel
              name="img"
            />
            <label for="img_alt" class="col-form-label"
              >Nombre para la imagen:</label
            >
            <input
              type="text"
              class="form-control"
              id="img_alt"
              ngModel
              name="img_alt"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onAddEducation(addForm.value)"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL UPDATE EDUCACION -->

<div
  class="modal fade"
  id="updateEducacionModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducacionModal-title">
          Modificar Educacion
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="onUpdateEducation(updateForm)">
          <div class="mb-3">
            <label for="school" class="col-form-label">Institución:</label>
            <input
              type="text"
              class="form-control"
              id="school"
              ngModel="{{ updateEducacion?.school }}"
              name="school"
            />

            <label for="career" class="col-form-label">Carrera o curso:</label>
            <input
              type="text"
              class="form-control"
              id="career"
              ngModel="{{ updateEducacion?.career }}"
              name="career"
            />
            <label for="state" class="col-form-label">Estado:</label>
            <input
              type="text"
              class="form-control"
              id="state"
              ngModel="{{ updateEducacion?.state }}"
              name="state"
            />
            <label for="start" class="col-form-label">Fecha de inicio</label>
            <input
              type="text"
              class="form-control"
              id="start"
              placeholder="Año de ingreso - Solo valor numerico"
              ngModel="{{ updateEducacion?.start }}"
              name="start"
            />
            <label for="end" class="col-form-label"
              >Fecha de culminación:</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Si lo deja vacío, se cargara como experiencia actual"
              id="end"
              ngModel="{{ updateEducacion?.end }}"
              name="end"
            />
            <label for="img" class="col-form-label">URL de Imagen:</label>
            <input
              type="text"
              class="form-control"
              id="img"
              ngModel="{{ updateEducacion?.img }}"
              name="img"
            />
            <label for="img_alt" class="col-form-label"
              >Nombre para la imagen:</label
            >
            <input
              type="text"
              class="form-control"
              id="img_alt"
              ngModel="{{ updateEducacion?.img_alt }}"
              name="img_alt"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onUpdateEducation(updateForm.value)"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
