<div id="navbar">
  <nav class="navbar navbar-expand-lg background">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        target="_blank"
      >
        <img
          src="../assets/logo_arg_programa.png"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        <span class="m-1" id="programa">Argentina Programa</span
        ><span style="color: white">#YoProgramo</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-hamburger contraste_background"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <span *ngIf="currentRoute === '/iniciar-sesion'; else portfolio">
        <form class="d-flex" role="search">
          <a
            class="btn btn-outline-primary me-2"
            target="_blank"
            href="https://www.linkedin.com/in/fernando-diaz-machado/"
          >
            <strong>Linkedin</strong> | Fernando Emanuel Díaz Machado
          </a>

          ><button
            class="btn btn-outline-primary"
            type="submit"
            (click)="onRedirectTo('/portfolio')"
          >
            Volver al Portfolio
          </button>
        </form>
      </span>
      <ng-template #portfolio>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" fragment="acerca-de-mi"
                ><span class="contraste_background nav-link-hover"
                  >Acerca de mi</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" fragment="experiencia"
                ><span class="contraste_background nav-link-hover"
                  >Experiencia</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" fragment="educacion"
                ><span class="contraste_background nav-link-hover"
                  >Educacion</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" fragment="skills"
                ><span class="contraste_background nav-link-hover"
                  >Hard & Soft Skills</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" fragment="proyectos"
                ><span class="contraste_background nav-link-hover"
                  >Proyectos</span
                ></a
              >
            </li>
          </ul>

          <form class="d-flex" role="search">
            <a
              class="btn btn-outline-link me-2"
              target="_blank"
              href="https://www.linkedin.com/in/fernando-diaz-machado/"
              ><i
                class="fab fa-linkedin contraste_background nav-link-hover"
              ></i
            ></a>
            <span *ngIf="noEstaLogueado(); else logout"
              ><button
                class="btn btn-outline-success"
                type="submit"
                (click)="onRedirectTo('/iniciar-sesion')"
              >
                LogIn
              </button>
            </span>
            <ng-template #logout>
              <button
                class="btn btn-outline-danger"
                type="submit"
                (click)="onLogOut()"
              >
                LogOut
              </button></ng-template
            >
          </form>
        </div>
      </ng-template>
    </div>
  </nav>
</div>
