<div id="banner" class="text-header d-flex align-items-end">
  <div class="container">
    <div class="container-fluid">
      <img
        src="../assets/photo_perfil.jpg"
        class="img-thumbnail"
        alt="Photo perfil"
        id="photo_perfil"
      />
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>
          <span>{{ miPortfolio.name }}</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>
          <span class="contraste_background">{{ miPortfolio.position }}</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          <span class="contraste_background">{{ miPortfolio.ubication }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
