#programa {
  color: lightskyblue;
}

#banner {
  width: 100%;
  background-image: url(./assets/banner.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#photo_perfil {
  margin-top: 1em;
  width: 15%;
  height: 15%;
  border-radius: 30%;
}

#banner h1 {
  color: white;
}
#banner h2 {
  color: white;
}
#banner p {
  color: white;
}

.img_jobs {
  max-width: 150px;
  max-height: 150px;
}

.img_education {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  margin: auto;
  margin-top: 1rem;
}

.background {
  background: radial-gradient(
    79.43% 251.58% at 23.18% 73.07%,
    #0142a0 0,
    #0f133a 44.41%,
    #101034 56.43%,
    #141034 69.58%,
    #301436 100%,
    #411958 0
  );
}

.contraste_background {
  color: #16f4d0;
}

.nav-link {
  color: #16f4d0;
}

.nav-link-hover:hover {
  background-color: transparent;
  color: white;
}
